* {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

.topnav-container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

i {
    vertical-align: middle;
}

hr {
    max-width: 30%;
    border: 0.5px solid #eaeaea;
    border-radius: 10px;
}

p {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 350;
    margin: 0;
}

.review-bubble h3 {
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.25rem;
}

.review-bubble h4 {
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

.review-bubble {
    font-family: 'Sofia Sans', sans-serif;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-size: 1.25rem;
}

footer {
    margin-top: 2rem;
    background-color: #f2f2f2;
    padding: 1rem 2rem;
    text-align: center;
}

.footer-links ul li {
    font-size: .85rem;
    font-weight: 400;
}

.footer-links ul {
    margin: 0;
}

.footer-social {
    font-size: 2rem;
}

.footer-social i:hover {
    color: #ed202e;
}

.footer-social a:visited {
    color: #292727;
}

.copyright {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

#footer-logo {
    height: 30px;
}

.nav-logo img{
    height: 80px;
}

.contact-btn {
    display: flex;
    align-items: center;
}

#contact-us {
    margin-left: 90px;
}

.contact-btn button {
    font-size: 1.2rem;
    padding: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(129deg, #ed202e 0%, #8e161e 100%);
}

#quote-btn {
    display: block;
    margin-top: 2rem;
}

#quote-btn button {
    box-shadow: #000 0px 1px 30px;
}

.contact-btn button:hover {
    background: #292727;
}

ul li a {
    text-decoration: none;
    color: #292727;
}

ul li a:visited {
    color: #292727;
}

ul li a:hover {
    color: #ed202e;
}

ul li {
    display: inline;
    padding: 1rem 1.5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #292727;
}

ul {
    list-style-type: none;
    height: fit-content;
    display: inline-flex;
    padding: 0;
}

.promo {
    text-align: center;
    padding: 0.3rem;
    background: linear-gradient(129deg, #ed202e 0%, #8e161e 100%);
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.hero-text{
    width: 100%;
}

.hero-image{
    display: flex;
    height: 500px;
    background-image: url("../images/mmw-banner.jpg");
    background-position: right;
    background-size: cover;
    align-items: center;
}

.hero-text {
    text-align: center;
    align-items: center;
    color: #fff;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0 2rem;
}

.hero-text p {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-bubble {
    background-color: #f2f2f2;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 1rem;
    width: 20rem;
}

.service-title {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.service-desc {
    margin-top: 0.3rem;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 350;
    align-items: center;
}

.service-bubble i {
    font-size: 3rem;
}

.service-bubble img {
    height: 3rem;
    padding-bottom: 5px;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 1000px) {
    .topnav-container {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 0;
            display: block;
            text-align: center;
        }

        footer {
            padding: 1rem 1rem;
            text-align: center;
        }

        .footer-links ul li {
            font-size: .7rem;
            font-weight: 400;
        }
    
        .nav-logo img {
            height: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        #quote-btn {
            /* display: block; */
            margin-top: auto;
        }
    
        .contact-btn {
            display: block;
            text-align: center;
        }
    
        .contact-btn button {
            font-size: 1rem;
            padding: 1rem 3rem;
            margin: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            border: none;
            /* border-radius: 0.5rem; */
            background-color: #ed202e;
        }
    
        .contact-btn button:hover {
            background-color: #292727;
        }
    
        ul li a {
            text-decoration: none;
            color: #292727;
        }
    
        ul li a:visited {
            color: #292727;
        }
    
        ul li {
            display: inline-flex;
            padding: 0rem 1.2rem;
            align-items: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            color: #292727;
            flex-wrap: wrap;
        }
    
        ul {
            list-style-type: none;
            height: fit-content;
            display: inline-flex;
            flex-wrap: wrap;
        }

        .hero-image {
            background-position: top;
            height: 250px;
        }

        .hero-text h1 {
            font-size: 2rem;
            margin: 0;
            padding: 0 2rem;
        }

        .hero-text p {
            font-family: 'Sofia Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
        }
        
        .hero-text {
            text-align: center;
            position: relative;
            /* top: 50%; */
            /* transform: translate(-50%, -50%); */
            color: #fff;
        }
        .promo {
            text-align: center;
            padding: 0.4rem;
            background: linear-gradient(129deg, #ed202e 0%, #8e161e 100%);
            color: #fff;
            font-family: 'Sofia Sans', sans-serif;
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1rem;
        }

        #contact-us {
            display: none;
        }
}

body {
    margin: 0;
    padding: 0;
}